*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Nunito Sans", sans-serif;
   
}

.container{
    margin: 2px auto;
    border: 2px solid black;
    width: 800px;
}

/* Introduction */
.intro{
    margin: 30px 0 50px 30px;
   

}
.intro p{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 3px;
    
}

.intro_icons{
    display: flex;
    gap: 6px;
    align-items: center;
    opacity: 70%;
    margin:2px;
}

.intro_linkedin_icon{
    margin-left: 4px;
}

/* details_container */

.details_container{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin: 18px 36px;
    column-gap: 60px;
    line-height: 30px;
}

.grid_heading_title{
    border-bottom: 2px solid black;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 20px;
    
}

.sub_heading{
    font-weight: 550;
    margin-left: -2px !important;
    
}

.details_container_left p {
    margin-left: 10px;
    line-height: 22px;
    letter-spacing: 0px;
}

.details_container_right p {
    margin-left: 10px;
    line-height: 22px;
    letter-spacing: 0px;
}

.sub_heading_container{
    margin-bottom: 6px;
}

.description{
    font-family: "Oswald", sans-serif;
    font-weight: 200px;
}